<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Teachable Machine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Teachable Machine</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CARGA DE IMAGEN - INICIO -->
  @if(imageReady()) {
    <ion-card>

      <img [src]="imageUrl()" alt="Imagen seleccionada" />
     
      <!-- CARGA DE PREDICCIÓN - INICIO -->
     
      <!-- CARGA DE PREDICCIÓN - FIN -->

    </ion-card>
  }
  <!-- CARGA DE IMAGEN - FIN -->  

  <!-- Referencia en plantilla #fileInput, callback para el evento change y oculte el elemento -->
 <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden />

 <!-- Disparo del evento click de fileInput -->
 <ion-fab slot="fixed" vertical="bottom" horizontal="center">
     <ion-fab-button (click)="fileInput.click()">
         <ion-icon name="cloud-upload-outline"></ion-icon>
     </ion-fab-button>
 </ion-fab>

</ion-content>