<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>

      <ion-card-title class="titulo">Descripción</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <p id="descripcion">
        Una aplicación móvil desarrollada en Angular Ionic es un software multiplataforma que utiliza el framework
        Angular para construir la lógica y la estructura de la aplicación, junto con el framework Ionic para crear una
        interfaz de usuario atractiva y funcional. Ionic proporciona componentes y herramientas para diseñar
        aplicaciones que se sienten y se ven nativas en dispositivos iOS y Android. La aplicación se puede desplegar
        tanto en la web como en tiendas de aplicaciones móviles. Utiliza tecnologías web como HTML, CSS y JavaScript, lo
        que facilita la reutilización de código y la implementación rápida.
      </p>
    </ion-card-content>

  </ion-card>

</ion-content>